extends ../layout

block content
  .page-header
    h3.text-center #{title}
    hr

  .page-header
    h4.text-center My Listings:

  .row.justify-content-center
    ul
      each apartmentNumber in listings
          li
              a(href="/apartment/" + apartmentNumber) Apartment #{apartmentNumber}

  hr

  .page-header
    h4.text-center Change Password

  form.form-horizontal(action='/account/password', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row.justify-content-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='password') New Password
      .col-sm-7
        input.form-control(type='password', name='password', id='password')
    .form-group.row.justify-content-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='confirmPassword') Confirm Password
      .col-sm-7
        input.form-control(type='password', name='confirmPassword', id='confirmPassword')
    .form-group.row.justify-content-center
      .col-sm-4
        button.btn.btn-primary(type='submit')
          i.fa.fa-lock
          | Change Password

    hr

  .page-header
    h4.text-center Delete Account

  form.form-horizontal(action='/account/delete', method='POST')
    .form-group.row.justify-content-center
      p.offset-sm-3.col-sm-7 You can delete your account, but keep in mind this action is irreversible.
      p.offset-sm-3.col-sm-7 All apartments under your email will also be deleted, as will the bookings under those apartments.
      input(type='hidden', name='_csrf', value=_csrf)
      .col-sm-4
        button.btn.btn-danger(type='submit')
          i.fa.fa-trash
          | Delete my account

