extends layout

block content
  h1 Sea Air Towers Vacation Rentals
  p.lead Save 10% off VRBO prices by renting directly from landlords of Sea Air Towers.
  hr
  .row
    .col-sm-6
      h2 Search
      p 
        a(href="/search-for-apartments") Search for apartments by number of bedrooms, number of bathrooms, dates of availability, and price within a given month.

    .col-sm-6
      h2 Rent
      p 
        a(href="/rent-apartment-by-landlord") Pull up appartments by landlord's email.

    .col-sm-6
      h2 List
      p 
        a(href="/account/list-apartment") Landlords, create a page for your apartment [sign in required].

    .col-sm-6
      h2 Update Listing
      p 
        a(href="/account/update-listing") Landlords, update the page for you apartment or its availability [sign in required].
  hr
  .row
    img(src = 'https://media1.condo.com/buildings/img/1461347/b2389c7d-4aa7-4180-8baf-a49bda429375_dt.jpg' alt = 'Image of Sea Air Towers condominium')
