extends layout

block content
  h1 Sea Air Towers Vacation Rentals
  p.lead A webpage for prospective renters to find apartments listed by landlords of Sea Air Towers.
  hr
  .row
    .col-sm-6
      h2 Search
      p 
        a(href="/search-for-apartments") Search for apartments by dates of availability, number of bedrooms, and number of bathrooms.

    .col-sm-6
      h2 Rent
      p 
        a(href="/rent-apartment-by-landlord") Pull up the page of a landlord's apartment by its apartment number.

    .col-sm-6
      h2 List
      p 
        a(href="/account/list-apartments") Landlords, create a page for your apartment [sign in required].

    .col-sm-6
      h2 Update Listing
      p 
        a(href="/account/update-listing") Landlords, update the page for you apartment or its availability [sign in required].
