extends layout

block content
  h1 Sea Air Towers Vacation Rentals
  p.lead Save 10% off VRBO prices by renting directly from landlords of Sea Air Towers.
  hr
  .row
    .col-sm-6
      h2 Search
      p 
        a(href="/search-for-apartments") Search for apartments by number of bedrooms, number of bathrooms, dates of availability, and price within a given month.

    .col-sm-6
      h2 Lookup
      p 
        a(href="/rent-apartment-by-landlord") Pull up appartments by landlord's email.

    .col-sm-6
      h2 List
      p 
        a(href="/account/list-apartment") Landlords, create a page for your apartment [sign in required].

    .col-sm-6
      h2 Update Listing
      p 
        a(href="/account/update-listing") Landlords, update the page for you apartment or its availability [sign in required].
  hr
  .row
    #carouselExampleControls.carousel.slide(data-ride='carousel')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='https://www.bestofluxuryrealty.com/sites/default/files/pictures/listings/F10183295-1.jpg' alt='Image 1 of Sea Air Towers condominium')
        .carousel-item
          img.d-block.w-100(src='https://www.bestofluxuryrealty.com/sites/default/files/pictures/listings/A10588802-1.jpg' alt='Image 2 of Sea Air Towers condominium')
        .carousel-item
          img.d-block.w-100(src='https://doc-00-3s-docs.googleusercontent.com/docs/securesc/ha0ro937gcuc7l7deffksulhg5h7mbp1/9boqq5deuirqut72aei43g1b8mpcbv0h/1578542400000/08480842869988750748/*/1vynMfaDN4aZv5PLGa4V70lAelvTkF25q?e=view' alt='Image 3 of Sea Air Towers condominium')
      a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next
