extends layout

block content
  h1 Sea Air Towers Vacation Rentals
  p.lead A webpage for prospective renters to find apartments listed by landlords of Sea Air Towers.
  hr
  .row
    .col-sm-6
      h2 Search
      p Search for apartments by dates of availability, number of bedrooms, and number of bathrooms.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 Rent
      p Pull up the page of a landlord's apartment by its apartment number.
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 List
      p Landlords, create a page for your apartment [sign in required].
      p
        a.btn.btn-secondary(href='#', role='button') View details »
    .col-sm-6
      h2 Update Listing
      p Landlords, update the page for you apartment or its availability [sign in required].
      p
        a.btn.btn-secondary(href='#', role='button') View details »