extends layout

block content
  h1.text-center Sea Air Towers Vacation Rentals
  p.lead.text-center Save 5-10% off VRBO prices by renting directly from landlords of Sea Air Towers.
  hr
  .row
    .col-sm-6
      h2 Search
      p 
        a(href="/search-for-apartments") Search for apartments by number of bedrooms, number of bathrooms, and dates of availability.

    .col-sm-6
      h2 Lookup
      p 
        a(href="/rent-apartment-by-landlord") Lookup appartments by landlord's email.

    .col-sm-6
      h2 List
      p 
        a(href="/account/list-apartment") Landlords, create a page for your apartment [sign in required].

    .col-sm-6
      h2 Update Listing
      p 
        a(href="/account/update-listing") Landlords, update the page for you apartment or its availability [sign in required].
  hr
  .row.justify-content-center
    //- Added style to give images a fixed width //
    #carouselExampleControls.carousel.slide(data-ride='carousel' style='height: auto; width: 886px !important;')
      .carousel-inner
        .carousel-item.active
          img.d-block.w-100(src='https://www.bestofluxuryrealty.com/sites/default/files/pictures/listings/A10588802-1.jpg' alt='Image 1 of Sea Air Towers condominium')
        .carousel-item
          img.d-block.w-100(src='https://i.ibb.co/Y0tR8SR/15.jpg' alt='Image 2 of Sea Air Towers condominium')
        .carousel-item
          img.d-block.w-100(src='https://i.ibb.co/zSWxjFP/IMG-6137-1.jpg' alt='Image 3 of Sea Air Towers condominium')
        .carousel-item
          img.d-block.w-100(src='https://i.ibb.co/J5cqdxp/z.jpg' alt='Image 4 of Sea Air Towers condominium')
      a.carousel-control-prev(href='#carouselExampleControls' role='button' data-slide='prev')
        span.carousel-control-prev-icon(aria-hidden='true')
        span.sr-only Previous
      a.carousel-control-next(href='#carouselExampleControls' role='button' data-slide='next')
        span.carousel-control-next-icon(aria-hidden='true')
        span.sr-only Next

  hr
  h2.text-center Location
    .row.justify-content-center
      iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3586.333470043927!2d-80.12038088601203!3d25.989891505463074!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x88d9ab5e5a4e20a9%3A0xc9b1f1231a79bbd9!2sSea%20Air%20Towers!5e0!3m2!1sen!2sus!4v1578549406853!5m2!1sen!2sus' width='886' height='665' frameborder='0' style='border:0;' allowfullscreen='')
