extends ../layout

block content
  .page-header
    h3.text-center #{title}
    hr

  - let hasAsterisk = false;

  ul
    each apartmentNumber in apartmentNumbers
        li
            - const mayBePenthouse = (apartmentNumber < 28);
            - let optionalAsterisk = "";
            - if(mayBePenthouse) { optionalAsterisk = "*"; hasAsterisk = true; };
            a(href="/apartment/" + apartmentNumber) Apartment #{apartmentNumber}
            | #{optionalAsterisk}

  if hasAsterisk
    p * Note that apartment numbers less than 28 may be penthouses and apartment numbers less than 13 may be on the ground floor. Check with the landlord.