extends ../layout

block content
  .page-header
    h3 #{title}
    hr

  ul
    each apartmentNumber in apartmentNumbers
        li
            - const mayBePenthouse = (apartmentNumber < 28);
            - let optionalAsterisk = "";
            - if(mayBePenthouse) { optionalAsterisk = "*"; };
            a(href="/apartment/" + apartmentNumber) Apartment #{apartmentNumber}#{optionalAsterisk}

  p * Note that apartment numbers less than 28 may be penthouses and apartment numbers less than 13 may be on the ground floor. Check with the landlord.