extends ../layout

block content
  .page-header
    h3 #{title}
    hr

  form.form-horizontal(action='/account/update-availability/' + apartmentNumber, method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row.justify-content-md-center
      label.col-sm-3.col-form-label.text-right.font-weight-bold(for='daterange') Book Date Range
      .col-sm-7
        input.form-control(type='daterange', name='daterange', id='daterange', value='01/01/2020 - 01/15/2020')
    .form-group.row.justify-content-md-center
      .col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Book Dates